html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  width: 411px;
  height: 731px;
  margin: 0 auto;
  margin-top: 50px;

  &__main {

    height: 500px;
    background-image: url(../resources/inception.jpg);
    background-size: 100%;
    background-position: center;

    &__header {
      color: white;

      &__sup {
        background: rgba(0, 0, 0, 0.8);
        height: 60px;
        padding-left: 11px;
        display: flex;
        align-content: space-between;
        flex-flow: column wrap;

        &__izq {
          &__icono {
            display: inline;

            img {
              margin-top: 10px;
              height: 40px;
              width: 40px;
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
            }
          }
        }

        &__der {
          margin-top: 10px;
          margin-right: 11px;
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          &__icono {
            margin-left: 11px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
          }
        }
      }

      &__inf {
        background: rgba(0, 0, 0, 0.7);
        height: 40px;
        padding-left: 11px;

        h4 {
          margin-top: 0px;
          margin-bottom: 0px;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;

        }
      }
    }

    &__position {
      position: absolute;
      color: white;
      background: rgba(0, 0, 0, 0.6);
      height: 50px;
      width: 50px;
      left: 351px;
      top: 118px;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }

  &__movielist {
    position: relative;
    background-color: black;
    display: flex;
    z-index: 10;
    overflow: hidden;
    padding-top: 20px;

    &__movie {
      position: relative;
      width: 140px;
      height: 180px;
      margin-left: 17px;
      margin-right: 10px;

      img {
        height: 100%;
        width: 140px;
        height: 180px;
        object-fit: cover;
      }

      &__number {
        position: absolute;
        color: white;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.6);
        right: 0;
        display: flex;
        align-items: center;
        text-align: center;

        h5 {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          margin: auto;
        }
      }
    }
  }

  &__edit {
    position: absolute;
    background-color: white;
    z-index: 100;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    right: 10px;
    bottom: 10px;
    display: flex;

    i {
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 20px;
      margin: auto;
    }
  }

  &__backgroundGradient {
    position: absolute;
    width: 411px;
    height: 302px;
    left: 0px;
    top: 429px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%);
    z-index: 5;
  }
}